<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Edit <%= food.name %></title>
</head>
<body>
  <%- include('../partials/nav') %>

  <h1>Edit <%= food.name %></h1>
  <form action="/foods/<%=food._id%>?_method=PUT" method="POST" onsubmit="return confirm('Are you sure that you want to edit <%= food.name %>?');">
    <label form="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= food.name %>" />
    
  <div class="checkbox-div">
    <label form="isHealthy">This is a healthy food!</label>
    <input type="checkbox" name="isHealthy" <% if (food.isHealthy) { %>checked<% } %> >
  </div>  
    <!-- update the button text -->
    <button type="submit">Update Food</button>
  </form>
  <div>
    <a class="foods-index-link" href="/foods">
      <div class="index-link-text">Back To Foods</div>
    </a>
  </div>

</body>
</html>
  