<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food.name %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <h1><%= food.name %></h1>
    <p>
      The Taste Rating for this food scored a <%= food.tasteRating %>/5 <%
      if(food.isHealthy === true) { %> and it is HEALTHY! <% } else { %> , but
      its NOT healthy! <% } %>
    </p>
    <a href="/foods/<%= food._id %>/edit">Edit <%= food.name %></a>
    <form action="/foods/<%=food._id%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete <%=food.name%>?');">
        <button type="submit">Delete <%=food.name%></button>
    </form>
    <a href="/foods">Back To Foods</a>
  </body>
</html>
